body
{
	font-family:helvetica;
	display:flex;
	flex-direction: column;
}

#main_wrapper
{
	display:flex;
	flex-direction: row;
}

#main_wrapper aside nav ul
{
	padding-left:10px;
	padding-right:10px;
	list-style-type:none;
}

#central_wrapper
{
	display:flex;
	flex-direction:column;
	flex:1;
}

#central_wrapper header
{
	border:solid 1px blue;
	text-align:center;
}

#central_wrapper section
{
	border:solid 1px blue;
	text-align:center;
	flex:1;
}

footer
{
	text-align:center;
}
