/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../home/etudiants/inf/uapv1201349/opt/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../home/etudiants/inf/uapv1201349/opt/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../home/etudiants/inf/uapv1201349/opt/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../home/etudiants/inf/uapv1201349/opt/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../home/etudiants/inf/uapv1201349/opt/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../home/etudiants/inf/uapv1201349/opt/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../home/etudiants/inf/uapv1201349/opt/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../home/etudiants/inf/uapv1201349/opt/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../home/etudiants/inf/uapv1201349/opt/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/screen.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 22, ../sass/screen.scss */
body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  background-color: #FFFFFF;
  height: 100%;
  scrollbar-face-color: #4529FF;
}

/* line 32, ../sass/screen.scss */
#mainWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}
/* line 38, ../sass/screen.scss */
#mainWrapper #verticalBanner {
  overflow: auto;
  overflow-x: hidden;
}
/* line 44, ../sass/screen.scss */
#mainWrapper #verticalBanner #friendList {
  list-style-type: none;
}
/* line 48, ../sass/screen.scss */
#mainWrapper #verticalBanner #friendList a {
  display: block;
  width: 100%;
  height: 100%;
  color: grey;
  text-decoration: none;
}
/* line 56, ../sass/screen.scss */
#mainWrapper #verticalBanner #friendList a :hover {
  color: #4529FF;
}
/* line 61, ../sass/screen.scss */
#mainWrapper #verticalBanner #friendList a li {
  border-top: 1px solid #aaa;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 72, ../sass/screen.scss */
#mainWrapper #centralWrapper {
  width: 100%;
  text-align: center;
  overflow: scroll;
  overflow-x: hidden;
}
/* line 79, ../sass/screen.scss */
#mainWrapper #centralWrapper header {
  text-align: center;
  height: 50px;
  background-color: #4529FF;
  margin-bottom: 5px;
}
/* line 85, ../sass/screen.scss */
#mainWrapper #centralWrapper header h2 {
  font-size: 3em;
  color: white;
}

/* line 94, ../sass/screen.scss */
#blocConnexion {
  margin: 0 auto;
  display: table;
  height: 100px;
  border: 1px solid black;
  margin-top: 20px;
}
/* line 102, ../sass/screen.scss */
#blocConnexion p {
  display: table-row;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
}
/* line 112, ../sass/screen.scss */
#blocConnexion #formulaireLogin {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  width: 230px;
  padding: 5px;
  line-height: normal;
}
/* line 121, ../sass/screen.scss */
#blocConnexion #formulaireLogin input[type=password], #blocConnexion #formulaireLogin input[type=submit] {
  margin-top: 10px;
}

/* line 128, ../sass/screen.scss */
#profil {
  margin: 0 auto;
  width: 600px;
  overflow: hidden;
  text-align: right;
}
/* line 135, ../sass/screen.scss */
#profil img {
  max-width: 200px;
  float: left;
  margin-bottom: 10px;
  border: solid 5px white;
  box-shadow: 0px 5px 5px #aaa;
}
/* line 143, ../sass/screen.scss */
#profil #pseudo {
  font-size: 3em;
  color: #4529FF;
  margin-bottom: 2px;
  margin-left: 160px;
}
/* line 151, ../sass/screen.scss */
#profil #status {
  font-size: 2em;
  font-style: italic;
  font-weight: lighter;
  color: grey;
  margin-right: 10px;
  margin-bottom: 2px;
  margin-left: 160px;
}
/* line 161, ../sass/screen.scss */
#profil #personalData {
  font-size: 1.5em;
  color: grey;
  margin-left: 160px;
}

/* line 169, ../sass/screen.scss */
#changeStatus {
  margin-bottom: 10px;
}

/* line 175, ../sass/screen.scss */
#messageList {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #aaa;
  border-radius: 10px;
}

/* line 183, ../sass/screen.scss */
#addMessage {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 189, ../sass/screen.scss */
#addMessage textarea {
  width: 90%;
  resize: none;
}
/* line 194, ../sass/screen.scss */
#addMessage input[type=file] {
  display: none;
}
/* line 198, ../sass/screen.scss */
#addMessage input[type=button], #addMessage input[type=submit] {
  margin-top: 8px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #aaa;
}
/* line 206, ../sass/screen.scss */
#addMessage input[type=button]:hover, #addMessage input[type=submit]:hover {
  color: #4529FF;
  border: solid 1px #4529FF;
}

/* line 213, ../sass/screen.scss */
.message {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #aaa;
  margin: 0 auto;
}
/* line 223, ../sass/screen.scss */
.message .shared {
  margin-top: 10px;
  color: grey;
}
/* line 228, ../sass/screen.scss */
.message .shared a {
  color: inherit;
  text-decoration: none;
}
/* line 235, ../sass/screen.scss */
.message .content {
  text-align: left;
  padding-top: 5px;
}
/* line 240, ../sass/screen.scss */
.message .content .userPicture {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}
/* line 247, ../sass/screen.scss */
.message .content .author, .message .content .text {
  display: block;
}
/* line 252, ../sass/screen.scss */
.message .content .text {
  width: 532px;
  margin-top: 10px;
}
/* line 260, ../sass/screen.scss */
.message .content .author a {
  text-decoration: none;
}
/* line 265, ../sass/screen.scss */
.message .content .author .nameSurname {
  font-weight: bold;
  color: black;
}
/* line 271, ../sass/screen.scss */
.message .content .author .pseudo {
  color: grey;
}
/* line 278, ../sass/screen.scss */
.message .content img {
  max-width: 484px;
}
/* line 283, ../sass/screen.scss */
.message .content .footer {
  clear: left;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 68px;
}
/* line 291, ../sass/screen.scss */
.message .content .footer .likeIcon, .message .content .footer .likeIcon:hover {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/like.png);
}
/* line 299, ../sass/screen.scss */
.message .content .footer .likeIcon:hover {
  background-image: url("../images/likeHover.png");
}
/* line 305, ../sass/screen.scss */
.message .content .footer .shareIcon, .message .content .footer .shareIcon:hover, .message .content .footer .shareIconOn {
  display: inline-block;
  width: 19px;
  height: 16px;
  background-image: url(../images/share.png);
}
/* line 313, ../sass/screen.scss */
.message .content .footer .shareIcon:hover, .message .content .footer .shareIconOn:hover {
  background-image: url(../images/shareHover.png);
}
/* line 318, ../sass/screen.scss */
.message .content .footer .shareIconOn {
  background-image: url(../images/shareOn.png);
}

/* line 330, ../sass/screen.scss */
.ui-dialog {
  position: absolute;
  top: 500px;
}

/* line 335, ../sass/screen.scss */
.ui-dialog-titlebar {
  background-color: #4529FF;
  color: white;
  font-weight: bold;
}
/* line 340, ../sass/screen.scss */
.ui-dialog-titlebar .ui-button {
  margin-left: 185px;
  border: none;
  background-color: #4529FF;
  color: white;
  border-left: 2px solid white;
}

/* line 350, ../sass/screen.scss */
#chatbox {
  width: 200px;
  border: 1px solid #4529FF;
  background-color: white;
}
/* line 355, ../sass/screen.scss */
#chatbox form {
  flex-direction: row;
}
/* line 359, ../sass/screen.scss */
#chatbox img {
  max-width: 180px;
}

/* line 365, ../sass/screen.scss */
#chatList {
  height: 250px;
  overflow: scroll;
  overflow-x: hidden;
}
