/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$bleuMoisi:#4529FF;
$backgroundColor:#FFFFFF;

html
{
	width:100%;
	height:100%;
}

body
{
	margin:0;
	padding:0;
	font-family:helvetica;
	background-color:$backgroundColor;
	height:100%;
	scrollbar-face-color: $bleuMoisi;
}

#mainWrapper
{
	display:flex;
	flex-direction:row;
	height:100%;

	#verticalBanner
	{
		overflow:auto;
		overflow-x:hidden;
		border-right: 1px solid #aaa;

		#friendList
		{
			list-style-type:none;

			a
			{
				display:block;
				width:100%;
				height:100%;
				color:grey;
				text-decoration:none;

				:hover
				{
					color:$bleuMoisi;
				}

				li
				{
					border-top:1px solid #aaa;
					padding-left:5px;
					padding-top:5px;
					padding-bottom:5px;
				}
			}
		}
	}

	#centralWrapper
	{
		width:100%;
		text-align:center;
		overflow:scroll;
		overflow-x:hidden;
		background-color:#fcfcfc;

		header
		{
			text-align:center;
			height:50px;
			background-color:$bleuMoisi;
			margin-bottom:10px;
			h2
			{
				font-size:3em;
				a
				{
					color:white;
					text-decoration:none;
				}
			}
		}
	}
}

#blocConnexion
{
	margin:0 auto;
	display:table;
	height:100px;
	border:1px solid black;
	margin-top:20px;

	p
	{
		display:table-row;
		text-align:center;
		margin:0 auto;
		color:white;
		font-size:1.5em;
		margin-top:20px;
	}

	#formulaireLogin
	{
		text-align:center;
		vertical-align:middle;
		display:table-cell;
		width:230px;
		padding:5px;
		line-height:normal;

		input[type=password], input[type=submit]
		{
			margin-top:10px;
		}
	}
}

#profil
{
	margin:0 auto;
	width:600px;
	overflow:hidden;
	text-align:right;
	margin-bottom:10px;

	img
	{
		max-width:200px;
		float:left;
		margin-bottom: 10px;
		border: solid 5px white;
		box-shadow: 0px 5px 5px #aaa;
	}
	#pseudo
	{
		font-size:3em;
		color:$bleuMoisi;
		margin-bottom:2px;
		margin-left:160px;
	}

	#status
	{
		font-size:2em;
		font-style:italic;
		font-weight:lighter;
		color:grey;
		margin-right:10px;
		margin-bottom:2px;
		margin-left:160px;
	}
	#personalData
	{
		font-size:1.5em;
		color:grey;
		margin-left:160px;
	}
}

#changeStatus
{
	margin-bottom:10px;
	display:none;
}

//Messages Mur
#messageList
{
	width:600px;
	margin:0 auto;
	border:1px solid #aaa;
	border-radius:10px;
	background-color:white;
	margin-bottom:10px;
	h2
	{
		font-size:1.5em;
		margin:10px;
		color:$bleuMoisi;
	}
}

#addMessage
{
	width:100%;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	textarea
	{
		width:90%;
		resize:none;
	}

	input[type=submit]
	{
		margin-top:8px;
		background-color:white;
		border-radius:5px;
		border: solid 1px #aaa;
	}

	input[type=submit]:hover
	{
		color:$bleuMoisi;
		border: solid 1px $bleuMoisi;
	}
}

.message
{
	width:100%;
	display:flex;
	flex-direction:column;
	border-top:1px solid #aaa;
	margin:0 auto;

	.shared
	{
		margin-top:10px;
		color:grey;

		a
		{
			color:inherit;
			text-decoration:none;

			&:hover
			{
				text-decoration:underline;
			}
		}
	}

	.content
	{
		text-align:left;
		padding-top:5px;

		.userPicture
		{
			margin-left:10px;
			margin-right:10px;
			float:left;
		}

		.author, .text
		{
			display:block;
		}

		.text
		{
			width:532px;
			margin-top:10px;
		}

		.author
		{
			a
			{
				text-decoration:none;
			}

			.nameSurname
			{
				font-weight:bold;
				color:black;
				&:hover
				{
					text-decoration:underline;
				}

			}

			.pseudo
			{
				color:grey;
			}

		}

		img
		{
			max-width:484px;
		}

		.footer
		{
			clear:left;
			text-align:left;
			margin-top:10px;
			margin-bottom:5px;
			margin-left:68px;

			.likeIcon
			{
				display:inline-block;
				width:16px;
				height:16px;
				background-image:url(../images/like.png);
			}

			.likeIcon:hover
			{
				@extend .likeIcon;
				background-image:url("../images/likeHover.png");
			}

			.shareIcon
			{
				display:inline-block;
				width:19px;
				height:16px;
				background-image:url(../images/share.png);
			}

			.shareIcon:hover
			{
				@extend .shareIcon;
				background-image:url(../images/shareHover.png);
			}
			.shareIconOn
			{
				@extend .shareIcon;
				background-image:url(../images/shareOn.png);
			}
		}
	}
}

//Fin Messages Mur

//Chat
.ui-dialog
{
	position:absolute;
	top:500px;
	box-shadow:8px 8px 18px #aaa;
}
.ui-dialog-titlebar
{
	background-color:$bleuMoisi;
	color:white;
	font-weight:bold;
	padding:5px;
	.ui-button
	{
		margin-left:185px;
		border:none;
		background-color:$bleuMoisi;
		color:white;
		border-left:2px solid white;
	}
}

#chatbox
{
	width:200px;
	border:1px solid $bleuMoisi;
	background-color:white;
	input[type=text]
	{
		width:292px;
	}
	input[type=submit]
	{
		display:none;
	}

	form
	{
		flex-direction:row;
	}
	img
	{
		max-width:180px;
	}
}

#chatList
{
	height:250px;
	overflow:scroll;
	overflow-x:hidden;
}

