/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$darkRed:#B20909;
$flashRed:#FF1919;
$flatRed:#FF3333;
$darkGreen:#00B233;
$flatGreen:#19FF5A;
$bleuMoisi:#4529FF;
$backgroundColor:#FFFFFF;

html
{
	width:100%;
	height:100%;
}

body
{
	margin:0;
	padding:0;
	font-family:helvetica;
	background-color:$backgroundColor;
	height:100%;
}

#mainWrapper
{
	display:flex;
	flex-direction:row;
	height:100%;

	#verticalBanner
	{
		background-color:$bleuMoisi;
		overflow:auto;
		overflow-x:hidden;
		height:100%;
		position:fixed;

		#friendList
		{
			list-style-type:none;

			a
			{
				display:block;
				width:100%;
				height:100%;
				color:white;
				text-decoration:none;

				:hover
				{
					color:grey;
				}

				li
				{
					border-top:1px solid grey;
					padding-left:5px;
					padding-top:5px;
					padding-bottom:5px;
				}
			}
		}
	}

	#centralWrapper
	{
		height:100%;
		display:flex;
		flex-direction:column;
		flex:1;

		header
		{
			text-align:center;
			height:50px;
			background-color:$bleuMoisi;
			h2
			{
				font-size:3em;
				color:white;
			}
		}

		section
		{
			width:100%;
			margin:0 auto;

			article
			{
				width:100%;
				margin:0 auto;
				text-align:center;

				#message
				{
				}
			}
		}
	}
}

#blocConnexion
{
	margin:0 auto;
	display:table;
	height:100px;
	border:1px solid black;
	margin-top:20px;

	p
	{
		display:table-row;
		text-align:center;
		margin:0 auto;
		color:white;
		font-size:1.5em;
		margin-top:20px;
	}

	#formulaireLogin
	{
		text-align:center;
		vertical-align:middle;
		display:table-cell;;
		width:230px;
		padding:5px;
		line-height:normal;
		input[type=password], input[type=submit]
		{
			margin-top:10px;
		}
	}
}

.ui-dialog-titlebar
{
	background-color:$bleuMoisi;
	color:white;
	font-weight:bold;
	.ui-button
	{
		margin-left:185px;
		border:none;
		background-color:$bleuMoisi;
		color:white;
		border-left:2px solid white;
	}
}

#chatbox
{
	width:200px;
	border:1px solid $bleuMoisi;

	form
	{
		flex-direction:row;
	}
}
